
name: Run Script

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  revanced-cli-script:
    runs-on: ubuntu-latest

    steps:
    
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
 
      - name: Download YouTube apk
        run: |
          mkdir "build"
          cd "build"
          wget -q "https://github.com/CnC-Robert/revanced-cli-script/releases/download/stock-yt-17.19.36/youtube.apk"
          cd ..
      
      - name: Execute script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
          # Script also works without $LOCALMAVEN=1
          LOCALMAVEN: 1
        run: |
          chmod +x ./build-from-source.sh
          ./build-from-source.sh
          ls
